.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.auth-sub-container {
  width: 100%;
  max-width: 320px;
}

.introduction-text {
  width: 100%;
  text-align: center;
}

.auth-logo {
  width: 100%;
  min-width: 64px;
  max-width: 100px;
}