.formprompt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: calc(1920px - 1080px);
  min-width: 300px;
  height: 100vh;
  flex-grow: 1;
  background-color: var(--clr-background);
}

.formprompt.show {
  animation: formprompt-show .4s forwards;
}

.formprompt * {
  color: var(--clr-onBackground);;
}

.formprompt-content {
  overflow-y: scroll;
}

/* .formprompt-content::-webkit-scrollbar {
  display: none;
} */

.toggle-form-btn {
  position: absolute;
  height: fit-content;
  right: 0;
  bottom: 0;
}

@keyframes formprompt-show {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}