.formprompt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: calc(1920px - 1080px);
  min-width: 300px;
  height: 100vh;
  flex-grow: 1;
  background-color: var(--clr-background);
}

.formprompt * {
  color: var(--clr-onBackground);;
}