.select {
  cursor: pointer;
  --arrow-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: var(--arrow-bg);
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 1rem;
}

/* select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px;
} */

option {
  cursor: pointer;
  padding: 12px 18px;
}

.select-container {
  padding: 12px 18px;
}