.left-side-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 480px;
  min-width: 300px;
  height: 100vh;
  background-color: var(--clr-background);
}