@import url('./variables.css');

.m-0 {
  margin: 0;
}

.m-1 {
  margin: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 1));
}

.m-2 {
  margin: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 2));
}

.m-3 {
  margin: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 3));
}

.m-4 {
  margin: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 4));
}

/* Margin x */

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-1 {
  margin-left: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 1));
  margin-right: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 1));
}

.mx-2 {
  margin-left: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 2));
  margin-right: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 2));
}

.mx-3 {
  margin-left: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 3));
  margin-right: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 3));
}

.mx-4 {
  margin-left: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 4));
  margin-right: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 4));
}

/* Margin y */

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 1));
  margin-bottom: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 1));
}

.my-2 {
  margin-top: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 2));
  margin-bottom: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 2));
}

.my-3 {
  margin-top: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 3));
  margin-bottom: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 3));
}

.my-4 {
  margin-top: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 4));
  margin-bottom: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 4));
}

/* Margin left */

.ms-0 {
  margin-left: 0;
}

.ms-1 {
  margin-left: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 1));
}

.ms-2 {
  margin-left: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 2));
}

.ms-3 {
  margin-left: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 3));
}

.ms-4 {
  margin-left: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 4));
}

/* Margin right */

.me-0 {
  margin-right: 0;
}

.me-1 {
  margin-right: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 1));
}

.me-2 {
  margin-right: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 2));
}

.me-3 {
  margin-right: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 3));
}

.me-4 {
  margin-right: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 4));
}

/* Margin top */

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 1));
}

.mt-2 {
  margin-top: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 2));
}

.mt-3 {
  margin-top: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 3));
}

.mt-4 {
  margin-top: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 4));
}

/* Margin bottom */

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 1));
}

.mb-2 {
  margin-bottom: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 2));
}

.mb-3 {
  margin-bottom: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 3));
}

.mb-4 {
  margin-bottom: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 4));
}

/* padding */

.p-0 {
  padding: 0;
}

.p-1 {
  padding: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 1));
}

.p-2 {
  padding: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 2));
}

.p-3 {
  padding: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 3));
}

.p-4 {
  padding: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 4));
}

/* padding x */

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-1 {
  padding-left: calc(
    var(--spacing-value) + calc(var(--spacing-value-step) * 1)
  );
  padding-right: calc(
    var(--spacing-value) + calc(var(--spacing-value-step) * 1)
  );
}

.px-2 {
  padding-left: calc(
    var(--spacing-value) + calc(var(--spacing-value-step) * 2)
  );
  padding-right: calc(
    var(--spacing-value) + calc(var(--spacing-value-step) * 2)
  );
}

.px-3 {
  padding-left: calc(
    var(--spacing-value) + calc(var(--spacing-value-step) * 3)
  );
  padding-right: calc(
    var(--spacing-value) + calc(var(--spacing-value-step) * 3)
  );
}

.px-4 {
  padding-left: calc(
    var(--spacing-value) + calc(var(--spacing-value-step) * 4)
  );
  padding-right: calc(
    var(--spacing-value) + calc(var(--spacing-value-step) * 4)
  );
}

/* padding y */

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 1));
  padding-bottom: calc(
    var(--spacing-value) + calc(var(--spacing-value-step) * 1)
  );
}

.py-2 {
  padding-top: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 2));
  padding-bottom: calc(
    var(--spacing-value) + calc(var(--spacing-value-step) * 2)
  );
}

.py-3 {
  padding-top: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 3));
  padding-bottom: calc(
    var(--spacing-value) + calc(var(--spacing-value-step) * 3)
  );
}

.py-4 {
  padding-top: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 4));
  padding-bottom: calc(
    var(--spacing-value) + calc(var(--spacing-value-step) * 4)
  );
}

/* padding left */

.ps-0 {
  padding-left: 0;
}

.ps-1 {
  padding-left: calc(
    var(--spacing-value) + calc(var(--spacing-value-step) * 1)
  );
}

.ps-2 {
  padding-left: calc(
    var(--spacing-value) + calc(var(--spacing-value-step) * 2)
  );
}

.ps-3 {
  padding-left: calc(
    var(--spacing-value) + calc(var(--spacing-value-step) * 3)
  );
}

.ps-4 {
  padding-left: calc(
    var(--spacing-value) + calc(var(--spacing-value-step) * 4)
  );
}

/* padding right */

.pe-0 {
  padding-right: 0;
}

.pe-1 {
  padding-right: calc(
    var(--spacing-value) + calc(var(--spacing-value-step) * 1)
  );
}

.pe-2 {
  padding-right: calc(
    var(--spacing-value) + calc(var(--spacing-value-step) * 2)
  );
}

.pe-3 {
  padding-right: calc(
    var(--spacing-value) + calc(var(--spacing-value-step) * 3)
  );
}

.pe-4 {
  padding-right: calc(
    var(--spacing-value) + calc(var(--spacing-value-step) * 4)
  );
}

/* padding top */

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 1));
}

.pt-2 {
  padding-top: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 2));
}

.pt-3 {
  padding-top: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 3));
}

.pt-4 {
  padding-top: calc(var(--spacing-value) + calc(var(--spacing-value-step) * 4));
}

/* padding bottom */

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: calc(
    var(--spacing-value) + calc(var(--spacing-value-step) * 1)
  );
}

.pb-2 {
  padding-bottom: calc(
    var(--spacing-value) + calc(var(--spacing-value-step) * 2)
  );
}

.pb-3 {
  padding-bottom: calc(
    var(--spacing-value) + calc(var(--spacing-value-step) * 3)
  );
}

.pb-4 {
  padding-bottom: calc(
    var(--spacing-value) + calc(var(--spacing-value-step) * 4)
  );
}

/* OVERSIZE SPACING */
.p-xxl {
  padding: var(--spacing-xxl);
}

.ps-xxl {
  padding-left: var(--spacing-xxl);
}

.pe-xxl {
  padding-right: var(--spacing-xxl);
}

.pb-xxl {
  padding-bottom: 20px;
}

.pt-xxl {
  padding-top: var(--spacing-xxl);
}

.py-xxl {
  padding-top: var(--spacing-xxl);
  padding-bottom: var(--spacing-xxl);
}

.px-xxl {
  padding-left: var(--spacing-xxl);
  padding-right: var(--spacing-xxl);
}

.m-xxl {
  margin: var(--spacing-xxl);
}

.ms-xxl {
  margin-left: var(--spacing-xxl);
}

.me-xxl {
  margin-right: var(--spacing-xxl);
}

.mb-xxl {
  margin-bottom: var(--spacing-xxl);
}

.mt-xxl {
  margin-top: var(--spacing-xxl);
}

.my-xxl {
  margin-top: var(--spacing-xxl);
  margin-bottom: var(--spacing-xxl);
}

.mx-xxl {
  margin-left: var(--spacing-xxl);
  margin-right: var(--spacing-xxl);
}