:root {
  /* FOR COLOR */
  --clr-primary: #2798BC;
  --clr-rgb-primary: 39, 152, 188;
  --clr-primary-container: #006787;
  --clr-rgb-primary-container: 0, 103, 135;

  --clr-error: #EF3A3A;
  --clr-rgb-error: 239, 58, 58;
  --clr-error-container: #A92424;
  --clr-rgb-error-container: 169, 36, 36;

  --clr-background: #FFF;
  --clr-rgb-background: 255, 255, 255;
  --clr-onBackground: #262626;
  --clr-rgb-onBackground: 38, 38, 38;
  --clr-outline: #C5C5C5;
  --clr-rgb-outline: 197, 197, 197;

  --clr-success: #5DCD49;
  --clr-rgb-success: 93, 205, 73;
  --clr-warning: #EBC417;
  --clr-rgb-warning: 235, 196, 23;

  /* FOR BORDER */
  --border-1: 1px solid;
  --border-2: 2px solid;

  /* FOR SPACING */
  --spacing-value: 0.5rem;
  --spacing-value-step: 0.25rem;
  --spacing-xxl: 5rem;

  /* FOR FONT SIZE */
  --fs: 1rem;
}